body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 14px;
}
a, a:hover{
  color: #333;
  text-decoration: none;
}
main{
  flex: 1;
}
.page-header {
  padding: 2rem 0 0;
}
.content {
  padding: 3rem 0;
}
.footer{
  padding: 1rem 0 .5rem;
  background-color: #333;
  color: #fff;
}
.user-form-wrap {
  max-width: 480px;
  margin: auto;
}
.user-form-wrap .links {
  margin: 1rem 0;
}
#hint_id_password1 {
  display: none;
}
.page-header {
    padding: 2rem 0;
}
.item-img{
  width: 255px;
  height: 150px;
}
