{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
<div class="content">
  <div class="row">
    {% for item in object_list %}
    <a href="{% url 'list-detail' item.pk %}">
      <div class="items col-md-3">
        <div class="card">
          {%if item.post_image %}
          <img src="{{item.post_image.url}}" class="card-img-top item-img" alt="{{item.title}}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.user_post}}</p>
            <p class="card-text">{{item.description|truncatewords:20}}</p>
          </div>
        </div>
    </a>
  </div>
  {% endfor %}
</div>
</div>

{% endblock content%}